<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <title>Dash Board 1</title>
</head>
<body style="background-color: #F8F8F8;">
    <div class="">
        <div class="d-flex">
            <div class="sidebar  position-relative px-4 me-4" style="width : 96px ; 
            border-radius: 0px 20px 20px 0px;
            background-color: #fff;
            ">
                <div class="d-flex align-items-center  justify-content-center py-4 border-bottom">
                    <div class="img-26 background-imge" style="background-image: url(../content/img/Logo.png);">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center py-4">
                    <div class="img-26 background-imge" style="background-image: url(../content/img/Color.png);">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center py-4">
                    <div class="img-26 background-imge" style="background-image: url(../content/img/Color-6.png);">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center py-4">
                    <div class="img-26 background-imge" style="background-image: url(../content/img/Color-5.png);">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center py-4">
                    <div class="img-26 background-imge" style="background-image: url(../content/img/Color-4.png);">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center py-4">
                    <div class="img-26 background-imge" style="background-image: url(../content/img/Color-3.png);">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center py-4">
                    <div class="img-26 background-imge" style="background-image: url(../content/img/Color-2.png);">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center py-4">
                    <div class="img-26 background-imge" style="background-image: url(../content/img/Color-1.png);">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center py-4 position-absolute bottom-0 start-50 translate-middle-x">
                    <div class="img-26 background-imge" style="background-image: url(../content/img/Color-n.png);">
                    </div>
                </div>
            </div>
            <div class="content px-4 py-3"> 
                    <div class="nav justify-content-between">
                        <a>
                            <i class="fa-solid fa-magnifying-glass"></i>
                            Tìm kiếm
                        </a>

                        <div class="d-flex align-items-center">
                            <div class="background-imge img-40 me-2" style="background-image: url(../content/img/Photo.png);">
                            </div>
                            <div class="background-imge img-40 me-2" style="background-image: url(../content/img/Photo.png);">
                            </div>
                            <div class="background-imge img-40 me-2" style="background-image: url(../content/img/Photo.png);">
                            </div>
                            <div class="rounded-circle border align-items-center position-relative text-white" style="width:40px;height:40px;
                            background-color: #4339F2;
                            ">
                                <i class="fa-solid fa-plus center" ></i>
                            </div>
                        </div>
                        
                    </div>



                    <div class="main mt-3 container-fluid">
                        <div class="row main-title fw-bold fs-3">
                            Be signle minded
                        </div>
                        <div class="row">
                            <div class=" main-user-card col p-3 bg-white me-2">
                                <div class="card-info d-flex justify-content-between position-relative">
                                    <div class="d-flex">
                                        <div class="background-imge img-70 me-2" style="background-image: url(../content/img/Photo-user.png);">
                                        </div>
                                        <div>
                                            <div class="fs-4 fw-bold">
                                                Ava Gregoraci
                                            </div>
                                            <div>
                                                Bulgaria
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-secondary fs-3 fw-bold position-absolute top-0 end-0" style="line-height: 5px;">
                                        ...
                                    </div>
                                </div>
                                <div class="py-4">
                                    <div class="d-flex justify-content-between ">
                                        <div>
                                            Instagram
                                        </div>
                                        <div class="text-success">
                                            66,376
                                        </div>
                                    </div>
                                    <div class="progress bg-light-success">
                                        <div class="progress-bar bg-action-success" role="progressbar" style="width: 35%" aria-valuenow="15" aria-valuemin="20" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="py-4">
                                    <div class="d-flex justify-content-between ">
                                        <div>
                                            Facebook
                                        </div>
                                        <div class="text-success">
                                            12,109
                                        </div>
                                    </div>
                                    <div class="progress bg-light-success">
                                        <div class="progress-bar bg-action-success" role="progressbar" style="width: 35%" aria-valuenow="15" aria-valuemin="20" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="py-4">
                                    <div class="d-flex justify-content-between ">
                                        <div>
                                            Twitter
                                        </div>
                                        <div class="text-success">
                                            13,645
                                        </div>
                                    </div>
                                    <div class="progress bg-light-success">
                                        <div class="progress-bar bg-action-success" role="progressbar" style="width: 35%" aria-valuenow="15" aria-valuemin="20" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class=" main-user-card col p-3 bg-white me-2">
                                <div class="card-info d-flex justify-content-between position-relative">
                                    <div class="d-flex">
                                        <div class="background-imge img-70 me-2" style="background-image: url(../content/img/Photo-user.png);">
                                        </div>
                                        <div>
                                            <div class="fs-4 fw-bold">
                                                Ava Gregoraci
                                            </div>
                                            <div>
                                                Bulgaria
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-secondary fs-3 fw-bold position-absolute top-0 end-0" style="line-height: 5px;">
                                        ...
                                    </div>
                                </div>
                                <div class="py-4">
                                    <div class="d-flex justify-content-between ">
                                        <div>
                                            Instagram
                                        </div>
                                        <div class="text-success">
                                            66,376
                                        </div>
                                    </div>
                                    <div class="progress bg-light-danger">
                                        <div class="progress-bar bg-action-danger" role="progressbar" style="width: 35%" aria-valuenow="15" aria-valuemin="20" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="py-4">
                                    <div class="d-flex justify-content-between ">
                                        <div>
                                            Facebook
                                        </div>
                                        <div class="text-success">
                                            12,109
                                        </div>
                                    </div>
                                    <div class="progress bg-light-danger">
                                        <div class="progress-bar bg-action-danger" role="progressbar" style="width: 35%" aria-valuenow="15" aria-valuemin="20" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="py-4">
                                    <div class="d-flex justify-content-between ">
                                        <div>
                                            Twitter
                                        </div>
                                        <div class="text-success">
                                            13,645
                                        </div>
                                    </div>
                                    <div class="progress bg-light-danger">
                                        <div class="progress-bar bg-action-danger" role="progressbar" style="width: 35%" aria-valuenow="15" aria-valuemin="20" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class=" main-user-card col p-3 bg-white">
                                <div class="card-info d-flex justify-content-between position-relative">
                                    <div class="d-flex">
                                        <div class="background-imge img-70 me-2" style="background-image: url(../content/img/Photo-user.png);">
                                        </div>
                                        <div>
                                            <div class="fs-4 fw-bold">
                                                Ava Gregoraci
                                            </div>
                                            <div>
                                                Bulgaria
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-secondary fs-3 fw-bold position-absolute top-0 end-0" style="line-height: 5px;">
                                        ...
                                    </div>
                                </div>
                                <div class="py-4">
                                    <div class="d-flex justify-content-between ">
                                        <div>
                                            Instagram
                                        </div>
                                        <div class="text-success">
                                            66,376
                                        </div>
                                    </div>
                                    <div class="progress bg-light-primary">
                                        <div class="progress-bar bg-action-primary" role="progressbar" style="width: 35%" aria-valuenow="15" aria-valuemin="20" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="py-4">
                                    <div class="d-flex justify-content-between ">
                                        <div>
                                            Facebook
                                        </div>
                                        <div class="text-success">
                                            12,109
                                        </div>
                                    </div>
                                    <div class="progress bg-light-primary">
                                        <div class="progress-bar bg-action-primary" role="progressbar" style="width: 35%" aria-valuenow="15" aria-valuemin="20" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="py-4">
                                    <div class="d-flex justify-content-between ">
                                        <div>
                                            Twitter
                                        </div>
                                        <div class="text-success">
                                            13,645
                                        </div>
                                    </div>
                                    <div class="progress bg-light-primary">
                                        <div class="progress-bar bg-action-primary" role="progressbar" style="width: 35%" aria-valuenow="15" aria-valuemin="20" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex">
                            <div>
                                <div class="col-8 border bg-action-primary d-flex p-3 rounded">
                                    <div class="w-50" >
                                        <img src="../content/img/2.png" style="width: 100%;" alt="">
                                    </div>
                                    <div class="text-white p-3 me-4">
                                        <div class="fs-5">   
                                            Creative outdoor ads
                                        </div>
                                        <div>
                                            Every large design company whether it’s a multi-national branding corporation or a regular down at heel tatty magazine publisher needs to fill holes in the workforce.
                                        </div>
                                    </div>
                                    <div class="align-bottom d-flex position-relative">
                                        <div class="btn bg-light text-nowrap position-relative tex" style="height:fit-content; top: 70%">See more</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col"></div>
                                    <div class="col"></div>
                                    <div class="col"></div>
                                </div>
                            </div>
                            <div class="col-4 border"></div>
                          </div>
                    </div>



            </div> 
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>